.user-request-page {
  padding-top: 70px;
}

.user-request-title {
  color: black;
  font-size: 32px;
  margin-bottom: 20px;
}

.input-textarea-container {
  margin-bottom: 20px;
}

.submit-button {
  background-color: rgb(253, 212, 212);
  color: #fff;
  font-weight: bold;
  &:hover {
    background-color: #333;
  }
}
